<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABv2bM_hRxG7o2I3RrkzmlPRwy446QJrU</string>
	<key>GCM_SENDER_ID</key>
	<string>812381791478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectSem4FlutterAppMobile</string>
	<key>PROJECT_ID</key>
	<string>erudite-scholar-417316</string>
	<key>STORAGE_BUCKET</key>
	<string>erudite-scholar-417316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812381791478:ios:0ece1e9bf29047ae1078d7</string>
</dict>
</plist>